.cd-title {
  // margin: 10px;
}

.container {
  // min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 15em;
}
.cd-text {
  flex-basis: 65%;
}

.e-container {
  flex-basis: 35%;
}

.cd-text, .e-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
