// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include tranform(translateY(-50%));
  }
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin transform($transforms) {
  -moz-transform:     $transforms;
  -o-transform:       $transforms;
  -ms-transform:      $transforms;
  -webkit-transform:  $transforms;
  transform:          $transforms;
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin transition-property($property...) {
  -moz-transition-property:    $property;
  -o-transition-property:      $property;
  -webkit-transition-property: $property;
  transition-property:         $property;
}
@mixin transition-duration($duration...) {
  -moz-transition-property:    $duration;
  -o-transition-property:      $duration;
  -webkit-transition-property: $duration;
  transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
  -moz-transition-timing-function:     $timing;
  -o-transition-timing-function:       $timing;
  -webkit-transition-timing-function:  $timing;
  transition-timing-function:          $timing;
}
@mixin transition-delay($delay...) {
  -moz-transition-delay:    $delay;
  -o-transition-delay:      $delay;
  -webkit-transition-delay: $delay;
  transition-delay:         $delay;
}

@mixin backface-visibility($hidden) {
  backface-visibility:         $hidden;
  -webkit-backface-visibility: $hidden;
  -moz-backface-visibility:    $hidden;
  -ms-backface-visibility:     $hidden;
  -o-backface-visibility:      $hidden;
}

@mixin animation($animation) {
  -moz-animation:    $animation;
  -o-animation:      $animation;
  -webkit-animation: $animation;
  animation:         $animation;
}
@mixin animation-iteration-count($number) {
  -moz-animation-iteration-count:    $number;
  -o-animation-iteration-count:      $number;
  -webkit-animation-iteration-count: $number;
  animation-iteration-count:         $number;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}
